# Editors
.vs/*
.vscode/*
.atom/*
.idea/*

# Build and Binary
Build/*
build/*
bin/*
bin-int/*
*node_modules

# Temp files
*__pycache__*
*.pyc
*.~lock*
*venv

# Sec
sec/*

# Custom
raspberrypi/api/scheduler.db
raspberrypi/api/jobId.dat
